@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Inter:wght@200&family=Jolly+Lodger&family=Petit+Formal+Script&family=Shadows+Into+Light&display=swap');

#menu-icon {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

h2 {
    margin: 0;
}

p {
    font-family: var(--paragraph-font);
}

#main {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    /* background-color: #FFFFFF; */
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

/* 
<div id="selectDifficultyMenu">
    <h1 id="gameTitle">Choose Difficulty</h1>
    <div id="buttons">
        <button id="easy" value ='easy' class="difficultyBtn">EASY</button>
        <button id="medium" value="medium" class="difficultyBtn">MEDIUM</button>
        <button id="hard" value="hard" class="difficultyBtn">HARD</button>
    </div>
</div>
*/
#selectDifficultyMenu{
    display: block;
}

.difficultyBtn {
    display: block;
    width: 35%;
    height: 70px;
    background-color: var(--btn-color);
    border-radius: 100px;
    margin: 2rem auto;
    font-size: 1.4em;
    font-weight: bold;
    color: var(--text-color);
}

.difficultyBtn:hover {
    background-color: var(--hover-btn-color);
    transform: scale(1.04);
    transition: transform 0.3s;
}

/*PLAY GAME MENU */
/* <div id="main">
        <h2 id="enterName">Enter Your Name</h2>
        <input id="name" placeholder="Player Name" class="playGameElement">
        <button id="startGameBtn" class="playGameElement">START</button>
    </div>
 */

 #playGameMenu {
    display: none;
 }

 #enterName {
    text-align: center;
}
.playGameElement {
    display: block;
    width: fit-content;
    height: 50px;
    /* font-size: 1.2em; */
    margin: 0 auto;
 }
 #name {
    text-align: center;
    margin-top: 10px;
    margin-bottom: 1rem;
    border-radius: 15px;
 }
 #startGameBtn {
    width: 20%;
    padding: 0 1rem;
    border-radius: 100px;
    background-color: var(--btn-color);
    color: var(--text-color);
    transition: transform 0.5s;
 }
 #backBtn {
    width: 20%;
    padding: 0 1rem;
    border-radius: 100px;
    background-color: var(--btn-color);
    color: var(--text-color);
    margin-top: 1rem;
    transition: transform 0.5s;
}

#startGameBtn:hover {
    background-color: var(--hover-btn-color);
    transform: scale(1.01);
}
#backBtn:hover {
    background-color: var(--hover-btn-color);
    transform: scale(1.01);
}

/* In Game Interface */
#inGame {
    display: none;
    gap: 1rem;
    align-content: center;
    align-items: center;
    overflow: hidden;
}

/* 
<header>
    <div id="playerNameHolder" class="nameHolder">Null</div>
    <div id="playerScoreHolder" class="scoreHolder">0</div>
    <div id="pauseBtn">▷</div>
    <div id="computerNameHolder" class="nameHolder">Computer</div>
    <div id="computerScoreHolder" class="scoreHolder">0</div>
<header>
*/

header {
    width: 90%;
    height: fit-content;
    padding: 1rem;
    /* background-color: red; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 0.2fr 0.5fr 1fr 0.2fr;
    text-align: center;
    align-items: center;
    font-family: var(--paragraph-font);
}
.nameHolder {
    height: 60%;
    background-color: var(--btn-color-2);
    /* border: #fff 1px solid; */
    font-size: 1.2em;
    text-align: center;
    padding: .2rem;
    justify-content: center;
    align-content: center;
    border-top-left-radius: 20px;
    /* border-bottom-right-radius: 50px; */
}
.scoreHolder {
    background-color: var(--btn-color-2);
    /* border: #fff 1px solid; */
    border: 1px solid var(--background-color-2);
    padding: .3rem;
    font-size: 1.5em;
    align-content: center;
    border-bottom-right-radius: 20px;
}
#pauseBtn {
    width: fit-content;
    height: fit-content;
    padding: 1rem;
    background-color: var(--btn-color-2);
    color: var(--text-color);
    font-size: 1.5em;
    font-weight: bolder;
    text-align: center;
    /* padding-left: 13px; */
    justify-self: center;
    align-content: center;
    border-radius: 100%;
    /* border: #fff 1px solid; */
    transition: transform 0.5s;
}
#pauseBtn:hover {
    /* background-color: white; */
    /* color: var(--background-color); */
    /* border: #000 3px solid; */
    transform: scale(1.05);
    /* transition: transform 0.5s; */
}
#pauseBtn:active {
    /* background-color: var(--btn-color-2);
    color: var(--text-color);
    border: #fff 3px solid; */
    background-color: white;
    color: var(--background-color);
    /* border: #000 3px solid; */
    transform: scale(1);
}
/* 
<main>
    <div id="gameBox">
        <button class="boxBtn" onclick="getButton('a')"></button>
    </div>
</main
*/
main {
    /* background-color: pink; */
    height: 79vh;
    display: block;
    box-sizing: border-box;
    justify-content: center;
    justify-items: center;
    /* padding: .5rem; */
    /* background-color: rebeccapurple; */
}
#gameBox {
    width: 90%;
    height: 96%;
    margin: 0 auto;
    /* background-color: var(--background-color); */
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    padding: 5px;
    gap: 5px;
}
.boxBtn {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 10, 0.5);
    background-color: var(--background-color-2);
    color: var(--text-color);
    font-size: 5.5em;
    border-radius: 15px;
    /* animation-name: textAppear; */
    /* animation-duration: 1s; */
    box-shadow: 0 0 12px;
}
.boxBtn::after {
    content: "";
    /* background: linear-gradient(90deg, var(--background-color-3), var(--background-color)); */
    inset: -0.5rem;
    filter: blur(25px);
    position: absolute;
    z-index: -2;
}
.boxBtn:hover {
    background-color: var(--hover-btn-color);
}
.boxBtn:active {
    background-color: #333;
}

/* 
PAUSE GAME MENU
<div id="pauseGameMenuHolder">
    <div id="pauseGameMenu">
        <div id="screen"></div>
        <div id="buttonHolder">
            <button id="continueBtn">CONTINUE</button>
            <button id="endBtn">END</button>
        </div>
    </div>
</div>
*/
#pauseGameMenuHolder {
    width: 100%;
    height: 100vh;
    background-color: var(--background-color);
    background: linear-gradient(to right, var(--background-color-3), var(--background-color-4));
    position: absolute;
    /* margin: 0 auto; */
    top: 0;
    display: none;
    align-content: center;
    align-items: center;
    /* border-bottom-right-radius: 15px;
    border-bottom-left-radius: 15px; */
}
#pauseGameMenu {
    width: 70%;
    height: 450px;
    background-color: var(--background-color-2);
    /* position: relative; */
    align-self: center;
    align-content: center;
    margin: 0 auto;
    border-radius: 15px;
    display: grid;
    align-items: center;
}
#screen {
    width: 90%;
    height: 300px;
    background-color: var(--background-color);
    border-radius: 15px;
    margin: 0 auto;
    /* margin-top: 20px; */
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-family: var(--paragraph-font);
    font-size: 1.5em;
    padding: 1rem;
    display: none;
    box-sizing: border-box;
    align-content: center;
}
#screen h2 {
    font-size: 1.2em;
    padding: .5rem;
    box-sizing: border-box;
}
#buttonHolder{
    width: 95%;
    height: 100px;
    /* background-color: red; */
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
}
.pauseMenuButtons {
    width: 80%;
    height: 80px;
    background-color: var(--btn-color);
    font-size: 1.2em;
    color: var(--text-color);
    border-radius: 15px;
    transition: transform 0.2s;
    padding: 1rem;
}
.pauseMenuButtons:hover {
    background-color: var(--hover-btn-color);
    transform: scale(1.01);
}
.pauseMenuButtons:active {
    background-color: #333;
}
#continueBtn {
    margin: 0 auto;
    grid-column: 1/1;
    grid-row: 1/1;
}
#continuePlaying{
    margin: 0 auto;
    grid-column: 1/1;
    grid-row: 1/1;
    z-index: 1;
    display: none;
}
#endBtn {
    margin: 0 auto;
}

.rewardText{
    font-size: 1.2em;
    margin-top: 1px;
}
#rewardParagraph {
    font-size: 1em;
    margin: 0px;
    margin-top: 0px;
}

@keyframes textAppear {
    0%{
        font-size: 0%;
    }100%{
        font-size: 100%;
    }
}


/* MEDIA QUARRY - SMALL-TAB AND LARGE-PHONE SCREEN */
@media screen and (max-width: 890px) {
    body {
        font-size: 16px;
        overflow: hidden;
    }
    
    #gameTitle {
        margin-top: 10%;
    }

    .difficultyBtn {
        width: 50%;
        margin: 35px auto;
    }

    .playGameElement {
        font-size: 1.4em;
     }

     #name {
        margin-bottom: 1rem;
      }
      #startGameBtn {
         width: 35%;
      }
      #backBtn {
         width: 35%;
         margin: 1rem auto;
      }

     .boxBtn {
        width: 100%;
        height: 100%;
        font-size: 6.5em;
    }

    /* 
    <header>
        <div id="playerNameHolder" class="nameHolder">Null</div>
        <div id="playerScoreHolder" class="scoreHolder">0</div>
        <div id="pauseBtn">▷</div>
        <div id="computerNameHolder" class="nameHolder">Computer</div>
        <div id="computerScoreHolder" class="scoreHolder">0</div>
    <header>
    */

    header {
        width: 90%;
        grid-template-columns: 1fr 0.5fr 1fr;
    }
    .nameHolder {
        padding: .5rem;
    }
    .scoreHolder {
        padding: .5rem;
    }
    #playerScoreHolder {
        grid-column: 1/2;
        grid-row: 2/3;
    }
    #computerScoreHolder {
        grid-column: 3/4;
    }
    #pauseBtn {
        grid-row: 1/3;
    }

    #pauseGameMenu {
        width: 90%;
    }
    /* #screen {
        width: 90%;
        height: 300px;
        font-size: 1.2em;
        padding: 10px;
        /* display: block;
    } */
}
    
/* MEDIA QUARRY - SMALL-PHONE SCREEN */
@media screen and (max-width: 489px) {
    body {
        font-size: 12px;
    }

    .difficultyBtn {
        width: 60%;
        margin: 1rem auto;
    }
    
    #gameTitle {
        margin-top: 15%;
    }

    .playGameElement {
        font-size: 1.4em;
     }
     #name {
       margin-bottom: 1rem;
     }
     #startGameBtn {
        width: 35%;
     }
     #backBtn {
        width: 35%;
        margin: 1rem auto;
     }

    header {
        margin: 0px auto;
    }
    .nameHolder {
        font-size: 1em;
        height: fit-content;
        padding: .5rem;
    }
    .scoreHolder {
        font-size: 1.2em;
        padding: 0;
    }
    #pauseBtn {
        width: fit-content;
        height: fit-content;
        padding: .8rem;
    }

    #gameBox {
        width: 90%;
        height: 95%;
    }
    .boxBtn {
        width: 100%;
        height: 100%;
        font-size: 6.5em;
    }

    #pauseGameMenu {
        width: 90%;
    }
    /* #screen {
        width: 90%;
        height: 300px;
        font-size: 1.2em;
        padding: 10px;
        /* display: block;
    } */
    #buttonHolder{
        width: 90%;
        height: 100px;
    }
    .pauseMenuButtons {
        width: 100%;
    }
}

