@import url('https://fonts.googleapis.com/css2?family=Inclusive+Sans:ital@0;1&family=Inter:wght@200&family=Jolly+Lodger&family=Petit+Formal+Script&family=Shadows+Into+Light&display=swap');

:root {
    --heading-font: "Petit Formal Script", Georgia, 'Times New Roman', Times, serif;
    --paragraph-font: Inter, Arial, Helvetica, sans-serif;
    --background-color: #0096D6;
    --text-color: #fff;
    --btn-color: blue;
    --hover-btn-color: rgb(0, 0, 150);
}

#menu-icon {
    display: none;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}

h2 {
    margin: 0;
}

p {
    font-family: var(--paragraph-font);
}

#main {
    max-width: 1600px;
    margin: 0 auto;
}

body {
    /* background-color: #FFFFFF; */
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

/* GAME MENU */
#gameTitle {
    font-size: 2.5em;
    line-height: 60px;
    text-align: center;
    margin-top: 5%;
    animation-name: animateTextIntro;
    animation-duration: 2s;
    text-shadow: 2px 2px 2px #000;
}
.menuBtn {
    display: block;
    width: 35%;
    height: 70px;
    background-color: var(--btn-color);
    border-radius: 100px;
    margin: 50px auto;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--text-color);
}

.menuBtn:hover {
    background-color: var(--hover-btn-color);
    transform: scale(1.04);
    transition: transform 0.3s;
}

#about-holder {
    width: 90%;
    height: 400px;
    margin: 0 auto;
    background-color: rgba(0, 0, 0, 0.5);
    /* border-radius: 15px; */
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
    padding: 10px;
    padding-left: 20px;
    overflow-y: auto;
    scroll-behavior: smooth;
}

#about-holder::-webkit-scrollbar {
    width: 10px;
    border: 2px solid rgba(113, 113, 255, 0.3);
    border-radius: 15px;
    background-color: rgba(0, 0, 0, 0.5);
    position: relative;
}

#about-holder::-webkit-scrollbar-thumb {
    background: rgb(142, 187, 255);
    /* border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px; */
    border-radius: 15px;
}



#about-holder h3 {
    margin-bottom: 0px;
}
#about-holder p {
    margin-top: 5px;
}

#aboutBtnGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 25px;
}

.aboutBtn {
    width: 50%;
    height: 50px;
    font-size: 1.2em;
    background-color: var(--btn-color);
    color: var(--text-color);
    border-radius: 10px;
    justify-self: center;
    transition: transform, 0.3s;
}
.aboutBtn:hover {
    background-color: var(--hover-btn-color);
    transform: scale(1.04);
    /* transition: transform 0.3s; */
}

footer {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 10px;
}

/* MEDIA QUARRY - SMALL-TAB AND LARGE-PHONE SCREEN */
@media screen and (max-width: 890px) {
    body {
        font-size: 18px;
    }
    
    #gameTitle {
        margin-top: 10%;
    }

    .menuBtn {
        width: 50%;
        margin: 35px auto;
    }
}
    
/* MEDIA QUARRY - SMALL-PHONE SCREEN */
@media screen and (max-width: 489px) {
    body {
        font-size: 16px;
    }

    .menuBtn {
        width: 60%;
    }
    
    #gameTitle {
        margin-top: 15%;
    }
}
